%div
  %h1
    #{birthday}
  %p
    - if birthday.state == :success
      Gift within budget found.
    - elsif birthday.gift_ideas.any?
      Winning gift idea not within budget.
    - else
      No gift ideas.
  %ul.accordion-tabs-minimal
    %li.tab-header-and-content
      %a.tab-link.is-active{:href => "#"} Gift Ideas
      .tab-content
        = render "grid_items"
    %li.tab-header-and-content
      %a.tab-link{:href => "#"} Budget
      .tab-content
        = render "budget"



