%div
  %h1
    #{birthday}
  %p
    - if birthday.state == :success
      Gift within budget found.
    - elsif birthday.gift_ideas.any?
      Winning gift idea not within budget.
    - else
      No gift ideas.
  = render "grid_items"

  = render "budget"
